<% provide(:title, "New Post") %>
<div>
  <h2>New Post</h2>
  <hr>
</div>
<div class="new_post_form">
    <%= form_for(@post) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="new_post_title">
          Post Title:
          <%= f.text_area :title, placeholder: "Post title goes here..." %>
        </div>
        <div class="new_post_content">
          Post Content:
          <%= f.text_area :content, placeholder: "Compose new post..." %>
        </div>
        <%= f.submit "Post" %>
    <% end %>
</div>