<div id="blog_head">
  <div id="avatar">
    <%= image_tag 'avatar_icon.gif' %>
  </div>
  <div id="post_title">
    <div id="title_box">
      <h2><%= link_to object.title, object %></h2>
    </div>
    <div>
      <ul>
        <li>Author:</li>
        <li><%= link_to object.user.name, "mailto:#{object.user.email}" %></li>
        <li>Post Date: </li>
        <li style="color:#00AF33"><%= object.created_at.strftime("%m/%d/%Y") %></li>
        <li>Twitter: </li>
        <li><a href='http://www.twitter.com/coreynagel85'>@Coreynagel85</a></li>
        <% if signed_in? %>
            <li>Post Controls:</li>
            <li><%= link_to 'Edit', edit_post_path(object) %></li>
            <li><%= link_to "Delete", object, method: :delete,
                             data: { confirm: "You sure?" },
                             title: object.title %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <hr>
</div>