<div class="footer">

  <div class="footer_link_bar">
    <ul>
      <li>Created 2013 by </li>
      <li><%= link_to 'Corey Nagel', 'mailto:coreyelliotnagel@gmail.com' %></li>
      <li><%= link_to 'Blog', root_path %></li>
      <li><%= link_to 'Projects', projects_path %></li>
      <li><%= link_to 'About Me', about_path %></li>
      <li><%= link_to 'Hire Me', contact_path %></li>
      <% if !signed_in? %>
        <li><%= link_to 'Sign In', signin_path %></li>
      <% end %>
    </ul>
  </div>
</div>