<div class="header">
  <div class="title">
  <h1 class="title"> <b id="name">Corey Elliot Nagel</b>
    <%=  image_tag("avatar.gif", alt: "Avatar", id: "avatar") %></h1>
</div>
  <div id= "navbar">
    <ul>
      <li class="navbarlink"><%= link_to 'Blog', home_path %></li>
      <li class="navbarlink"><%= link_to 'Projects', projects_path %></li>
      <li class="navbarlink"><%= link_to 'About Me', about_path %></li>
      <li class="navbarlink"><%= link_to 'Hire Me', contact_path %></li>
    </ul>
  </div>
</div>