<div class="header">
  <div class="title">
  <h1 class="title"> <b id="name">Corey Elliot Nagel</b>
   </h1>
</div>
  <div id= "barnav">
    <ul>
      <li class="navbarlink"><%= link_to 'Blog', home_path %></li>
      <li class="navbarlink"><%= link_to 'Projects', projects_path %></li>
      <li class="navbarlink"><%= link_to 'About Me', about_path %></li>
      <li class="navbarlink"><%= link_to 'Hire Me', contact_path %></li>
      <% if signed_in? %>
        <li class="navbarlink"><%= link_to 'New Post', '#' %></li>
        <li class="navbarlink"><%= link_to 'Sign Out', signout_path, method: "delete" %></li>
      <% end %>
    </ul>
  </div>
</div>