<div class="header">
  <div class="title">
  <h1 class="title"> <b id="name">Corey Elliot Nagel</b>
    <%=  image_tag("https://secure.gravatar.com/avatar/0894984a5abe73ca55a10013103042c0", alt: "Avatar", id: "avatar") %></h1>
</div>
  <div id= "navbar">
    <ul>
      <li class="navbarlink"><%= link_to 'Blog', home_path %></li>
      <li class="navbarlink"><%= link_to 'Projects', projects_path %></li>
      <li class="navbarlink"><%= link_to 'About Me', about_path %></li>
      <li class="navbarlink"><%= link_to 'Hire Me', contact_path %></li>
      <% if signed_in? %>
        <li class="navbarlink"><%= link_to 'New Post', '#' %></li>
        <li class="navbarlink"><%= link_to 'Sign Out', signout_path, method: "delete" %></li>
      <% end %>
    </ul>
  </div>
</div>