<div class="header">
  <div class="title">
  <h1 class="title"> <b id="name">Corey Elliot Nagel</b>
    <%= link_to image_tag("avatar.gif", alt: "", id: "avatar"), root_path %></h1>
</div>
  <div id= "navbar">
    <ul>
      <li class="navbarlink"><%= link_to 'Blog', root_path %></li>
      <li class="navbarlink"><%= link_to 'Projects', projects_path %></li>
      <li class="navbarlink"><%= link_to 'About Me', about_path %></li>
      <li class="navbarlink"><%= link_to 'Hire Me', contact_path %></li>
    </ul>
  </div>
</div>